.erkir_wrapper {
    border: 1px solid white;
    max-width: 80%;
    width: 100%;
    margin: 0 auto;
    margin-top: 5%;
    background:rgb(0, 0, 0, 0.7);
    padding-top: 1%;
    padding-bottom: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.erkir {
    max-width: 50%;
    width: 100%;
}

.erkir_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
font-size: 30px;
font-weight: bold;
color: white;
padding-top: 3%;
padding-bottom: 3%;
}

.erkir_span {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

.active {
    display: flex;
    max-width: 65%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-top: 3%;
    padding-bottom: 3%;
}

.active_t {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.erkir_span {
    font-size: 20px;
    font-weight: bold;
    color: green;
    font-family: initial;
}

.erkir_2 {
    max-width: 50%;
    width: 100%;
    border: 1px solid red;
}